# Binários
bin/
rede-cnpj
rede-cnpj-cli
rede-cnpj-importer
rede-cnpj.exe
*.exe
*.dll
*.so
*.dylib

# Arquivos de teste
*.test

# Arquivos de saída
*.out

# Dependências
vendor/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Bancos de dados
bases/*.db
!bases/.gitkeep
dados-publicos-zip/*
# Arquivos do usuário
arquivos/*
!arquivos/.gitkeep

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Output
output/
